<!DOCTYPE html>
<html ng-app="toDo">
	<head>
		<title>To Do</title>
		<!-- AngularJS plugin, JS, Bootstrap, Google Fonts -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat">
	</head>
	<body ng-controller="MainCtrl" class="bg-dark text-white">
		<br />
		<h1 style="font-family: 'Montserrat', sans-serif; text-align: center;">minneapolis to-do list</h1>
		<br />

		<form novalidate class="simple-form">
			<div class="form-group">
				<div class="row justify-content-md-center">
					<input id="input" class="col-10" type="text" ng-model="taskname" placeholder="add new things to do...">
					<button type="button" class="btn btn-outline-secondary" ng-click="addItem(taskname)">add me</button>
				</div>
			</div>
		</form>

		<br />
		<ul class="list-group text-dark" id="list"></ul>
		
	
	<!-- JQuery, JS, Popper.js -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
	</body>
</html>